@charset "utf-8";

.wrap {
  width: 100%;
  max-width: 500px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px;
  background-color: #E6EDFF;
  box-sizing: border-box;
}

header button {
  width: fit-content;
  padding: 8px 16px;
  font-size: 20px;
}
header button.on {
  background-color: #A2C5FF;
  border-radius: 30px;
  color: #fff;
}
header button.on:hover {
  background-color: #97BCFB;
}
header button:hover {
  background-color: #B2BED2;
  border-radius: 30px;
}
section .buttonWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}
section.stopwatch .buttonWrap {
  gap: 10px 15px;
}

section.stopwatch .buttonWrap button {
  font-size: 16px;
}
section .buttonWrap .startPause {
  position: relative;
}
section .buttonWrap .startPause.pause button:nth-of-type(1),
section .buttonWrap .startPause button:nth-of-type(2) {
  display: none;
}
section .buttonWrap .startPause button:nth-of-type(1),
section .buttonWrap .startPause.pause button:nth-of-type(2) {
  display: block;
}
section .buttonWrap button {
  width: 100%;
  max-width: 250px;
  font-size: 20px;
  color: #413232;
  background-color: #C7DBFE;
  border-radius: 30px;
  padding: 12px 20px;
}
section .buttonWrap button:hover {
  background-color: #B8D0FB;
}

/* 타이머 */
section.timer .circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  width: 100%;
  height: 300px; /* SVG가 들어갈 공간 확보 */
}
section.timer .circle .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none; /* 텍스트가 SVG를 가리지 않게 함 */
}
section.timer .circle p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  width: fit-content;
  text-align: center;
  text-decoration: underline #0D57C9;
  text-decoration-thickness: 1px;
  text-underline-offset: 10px;
}
section.timer .circle .svg {
  transform: rotate(-90deg);
  width: 280px;
  height: 280px;
  display: block;
}
section.timer .circle .border {
  fill: none;
  stroke-width: 10px;
  stroke: #C7DBFC;
}
section.timer .circle .progress {
  fill: none;
  stroke-dasharray: 1256;
  stroke-dashoffset: 1256;
  stroke-width: 10px;
}
section.timer .addTimeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
section.timer .addTimeBtn button {
  padding: 8px 20px;
  font-size: 16px;
  background-color: #C7DBFE;
  border: 1px solid #CBD2E2;
  border-radius: 40px;
}

/* 스탑워치 */
section.stopwatch .circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  width: 100%;
  height: 300px; /* SVG가 들어갈 공간 확보 */
}
section.stopwatch .circle p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  width: fit-content;
  text-align: center;
  white-space: nowrap;
  pointer-events: none; /* 텍스트가 SVG를 가리지 않게 함 */
}

section.stopwatch .circle .svg {
  width: 280px;
  height: 280px;
  display: block;
}

section.stopwatch .circle .border {
  fill: none;
  stroke-width: 10px;
  stroke: #C7DBFC;
}
section.stopwatch .circle .marker {
  fill: #0D57C9;
  transform-origin: center;
  transform: rotate(-90deg) translate(40%);
}
section.stopwatch .buttonWrap {
  display: flex;
  flex-wrap: wrap;
}
section.stopwatch .buttonWrap .labs {
  justify-content: center;
  display: flex;
  gap: 20px;
  width: 100%;
}
section.stopwatch .labList {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
section.stopwatch .labList ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: fit-content;
  gap: 5px 20px;
  max-height: 180px;
  font-size: 15px;
}